<!doctype html>
<html lang="ja">
<head>
  {% include 'gtm.html' %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}
  <!-- favicon -->
  <link rel="icon" type="image/png" href="{% static 'home/images/favicon.png' %}" alt="">

  <title>SUMUMA</title>
  {% include 'google_adsense.html' %}
</head>
<body>
<img src="/static/home/images/daifuku.png" alt=""
     style="display: block; margin-left: auto; margin-right: auto; width: auto; height: 30vh; margin-top: 20vh">
<div style="text-align: center;">
  <h1>このページは利用できません</h1>
  <p>アクセスできないURLか、ページが削除されています</p>
  <p><a href="/">トップページに戻る</a></p>
</div>
</body>
</html>