<!doctype html>
<html lang="ja">
<head>
  {% include 'gtm.html' %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- favicon -->
  <link rel="icon" type="image/png" href="/static/home/images/favicon.png" alt="daifuku">

  <title>SUMUMA</title>
</head>
<body>
<div style="text-align: center;">
  <h1>メンテナンス中</h1>
  <p>時間をあけてから、再度アクセスしてください。</p>
  <p><a href="https://twitter.com/daihukuxyz">SUMUMA公式ツイッターでサービス情報を見ることができます。</a></p>
</div>
</body>
</html>