<!doctype html>
<html lang="ja">
  {% load tailwind_tags %}
  <head>
    {% include 'gtm.html' %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'home/images/favicon.png' %}" alt="">
    <link rel="apple-touch-icon" href="{% static 'home/images/favicon.png' %}" alt="">
    <!-- account style css -->
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/style.css' %}">
    <title>SUMUMA</title>
    {% tailwind_css %}
    {% include 'head/google_adsense.html' %}
  </head>
  <body class="bg-green-50">
    {% include 'gtm_noscript.html' %}
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <div class="w-full fixed shadow py-4 px-3 bg-white">
      <a class="text-xl font-bold text-gray-900 hover:text-gray-900" href="{% url 'home:top' %}">SUMUMA</a>
    </div>
    <div class="mx-auto h-screen pt-20">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>