<!doctype html>
{% load static %}
<html lang="ja">
<head>
  {% include 'gtm.html' %}
  <!-- Ordinary meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="ただの家計簿で終わらせない、家計簿をもっと賢く美しく">
  <meta name="keywords" content="家計簿">
  <meta property="og:title" content="SUMUMA"/>
  <meta property="og:site_name" content="SUMUMA"/>
  <meta property="og:description" content="ただの家計簿で終わらせない、家計簿をもっと賢く美しく"/>
  <meta property="og:url" content="https://sumuma.com"/>
  <meta property="og:type" content="website">
  <meta property="og:image" content="{% static 'home/images/daifuku.png' %}"/>
  <meta property="og:locale" content="ja_JP"/>
  <meta name="theme-color" content="#3056d3">
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#3056d3">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#3056d3">
  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="SUMUMA">
  <meta itemprop="description" content="ただの家計簿で終わらせない、家計簿をもっと賢く美しく">
  <meta itemprop="image" content="{% static 'home/images/daifuku.png' %}">
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://sumuma.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="SUMUMA">
  <meta property="og:description" content="ただの家計簿で終わらせない、家計簿をもっと賢く美しく">
  <meta property="og:image" content="{% static 'home/images/daifuku.png' %}">
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="SUMUMA">
  <meta name="twitter:description" content="ただの家計簿で終わらせない、家計簿をもっと賢く美しく">
  <meta name="twitter:image" content="{% static 'home/images/daifuku.png' %}">
  <!-- iOS Meta Tags -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="SUMUMA">
  <!-- favicon -->
  <link rel="icon" type="image/png" href="{% static 'home/images/favicon.png' %}" alt="">
  <link rel="apple-touch-icon" href="{% static 'home/images/favicon.png' %}" alt="">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'home/css/animate.css' %}"/>
  <link rel="stylesheet" href="{% static 'home/css/lineicons.css' %}"/>
  <link rel="stylesheet" href="{% static 'home/css/ud-styles.css' %}"/>
  <title>SUMUMA</title>
  {% include 'head/google_adsense.html' %}
</head>
<body>
{% include 'gtm_noscript.html' %}
{% block content %}]
{% endblock %}
</body>
</html>