<nav id="header" class="bg-white fixed w-full z-10 top-0 shadow">
  <div class="w-full container mx-auto flex flex-wrap items-center mt-0 pt-3 pb-3 md:pb-0">
    <div class="w-1/2 pl-2 md:pl-0">
      <a class="pl-1 text-gray-900 text-base xl:text-xl no-underline hover:no-underline font-bold" href="{% url 'kakeibo_management:top' %}">DAIFUKU</a>
    </div>
    <div class="w-1/2 pr-0">
      <div class="flex relative inline-block float-right">
        <div class="relative text-sm">
          <div id="userMenu"
               class="bg-white rounded shadow-md mt-2 absolute mt-12 top-0 right-0 min-w-full overflow-auto z-30 invisible">
            <ul class="list-reset">
              <li>
                <a href="#" class="px-4 py-2 block text-gray-900 hover:bg-gray-400 no-underline hover:no-underline">My
                  account</a>
              </li>
              <li>
                <a href="#" class="px-4 py-2 block text-gray-900 hover:bg-gray-400 no-underline hover:no-underline">Notifications</a>
              </li>
              <li>
                <hr class="border-t mx-2 border-gray-400">
              </li>
              <li>
                <a href="#" class="px-4 py-2 block text-gray-900 hover:bg-gray-400 no-underline hover:no-underline">Logout</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="block lg:hidden pr-4">
          <button id="nav-toggle"
                  class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-teal-500 appearance-none focus:outline-none">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-white z-20"
         id="nav-content">
      <ul class="list-reset lg:flex flex-1 items-center px-4 md:px-0">
        <li class="mr-6 my-2 md:my-0">
          <a href="{% url 'kakeibo_management:top' %}"
             class="block py-1 md:py-3 pl-1 align-middle no-underline border-b-2 {% if request.resolver_match.app_name in 'kakeibo_management,records_management' %} text-pink-600 hover:text-pink-600 border-red-500 {% else %} border-white text-gray-500 hover:text-pink-600 hover:border-red-500 {% endif %}">
            <i
              class="fas fa-home fa-fw mr-3 {% if request.resolver_match.app_name in 'kakeibo_management,records_management' %} text-pink-600 {% endif %}"></i>
            <span class="pb-1 md:pb-0 text-sm">収支管理</span>
          </a>
        </li>
        <li class="mr-6 my-2 md:my-0">
          <a href="{% url 'categories_management:top' %}"
             class="block py-1 md:py-3 pl-1 align-middle no-underline border-b-2 {% if request.resolver_match.app_name == 'categories_management' %} text-pink-600 hover:text-pink-600 border-red-500 {% else %} border-white text-gray-500 hover:text-pink-600 hover:border-red-500 {% endif %}">
            <i
              class="fas fa-home fa-fw mr-3 {% if request.resolver_match.app_name == 'categories_management' %} text-pink-600 {% endif %}"></i>
            <span class="pb-1 md:pb-0 text-sm">カテゴリー</span>
          </a>
        </li>
        <li class="mr-6 my-2 md:my-0">
          <a href="{% url 'kakeibo_analyses:top' %}"
             class="block py-1 md:py-3 pl-1 align-middle no-underline border-b-2 {% if request.resolver_match.app_name == 'kakeibo_analyses' %} text-pink-600 hover:text-pink-600 border-red-500 {% else %} border-white text-gray-500 hover:text-pink-600 hover:border-red-500 {% endif %}">
            <i
              class="fas fa-tasks fa-fw mr-3 {% if request.resolver_match.app_name == 'kakeibo_analyses' %} text-pink-600 {% endif %}"></i>
            <span class="pb-1 md:pb-0 text-sm">収支分析</span>
          </a>
        </li>
        <li class="mr-6 my-2 md:my-0">
          <a href="{% url 'budget_plan:top' %}"
             class="block py-1 md:py-3 pl-1 align-middle no-underline border-b-2 {% if request.resolver_match.app_name == 'budget_plan' %} text-pink-600 hover:text-pink-600 border-red-500 {% else %} border-white text-gray-500 hover:text-pink-600 hover:border-red-500 {% endif %}">
            <i
              class="fa fa-envelope fa-fw mr-3 {% if request.resolver_match.app_name == 'budget_plan' %} text-pink-600 {% endif %}"></i>
            <span class="pb-1 md:pb-0 text-sm">収支計画</span>
          </a>
        </li>
        <li class="mr-6 my-2 md:my-0">
          <a href="{% url 'account:user_detail' user.pk %}"
             class="block py-1 md:py-3 pl-1 align-middle no-underline border-b-2 {% if request.resolver_match.app_name == 'account' %} text-pink-600 hover:text-pink-600 border-red-500 {% else %} border-white text-gray-500 hover:text-pink-600 hover:border-red-500 {% endif %}">
            <i
              class="fas fa-chart-area fa-fw mr-3 {% if request.resolver_match.app_name == 'account' %} text-pink-600 {% endif %}"></i>
            <span class="pb-1 md:pb-0 text-sm">設定</span>
          </a>
        </li>
        <li class="mr-6 my-2 md:my-0">
          <a href="{% url 'contact:top' %}"
             class="block py-1 md:py-3 pl-1 align-middle no-underline border-b-2 {% if request.resolver_match.app_name == 'contact' %} text-pink-600 hover:text-pink-600 border-red-500 {% else %} border-white text-gray-500 hover:text-pink-600 hover:border-red-500 {% endif %}">
            <i
              class="fa fa-wallet fa-fw mr-3 {% if request.resolver_match.app_name == 'contact' %} text-pink-600 {% endif %}"></i>
            <span class="pb-1 md:pb-0 text-sm">お問い合わせ</span>
          </a>
        </li>
      </ul>
      <div class="relative pull-right pl-4 pr-4 md:pr-0">
        <a href="{% url 'account:logout' %}"
           class="bg-green-500 hover:bg-green-700 text-white hover:text-white font-bold py-2 px-4 rounded">ログアウト</a>
      </div>
    </div>
  </div>
</nav>