{% extends "loggedin_base.html" %}
{% block content %}
  {% load static %}
  <div class="w-full md:px-0 md:mt-8 text-gray-800 leading-normal">
    <div class="m-3 mt-0 p-3 bg-white shadow border-b border-gray-200 sm:rounded-lg">
      <div class="flex flex-wrap -mx-3">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          {% include 'analyses/buttons.html' %}
        </div>
        <div class="w-full md:w-1/2 px-3 md:text-left lg:text-right">
          <form class="flex flex-wrap items-stretch w-full relative" id="event_month"
                action="{% url 'analyses:search_analyses_by_category_each_month' %}" method="get">
            <input type="month"
                   class="flex-shrink flex-grow flex-auto leading-normal border-gray-200 w-px flex-1 border h-10 rounded rounded-r-none px-3 relative"
                   value="{{ year_and_month }}" name="year_and_month" required>
            <div class="flex">
              <select name="expenditure_or_income"
                      class="bg-gray-200 bg-grey-lighter border-0 border-l-0 whitespace-no-wrap text-grey-dark text-sm appearance-none"
                      required>
                {% if expenditure_or_income == 'income' %}
                  <option value="expenditure">支出</option>
                  <option selected="true" value="income">収入</option>
                {% else %}
                  <option selected="true" value="expenditure">支出</option>
                  <option value="income">収入</option>
                {% endif %}
              </select>
            </div>
            <button type="submit"
                    class="flex items-center bg-green-500 leading-normal bg-grey-lighter rounded rounded-l-none border-0 border-l-0 px-5 whitespace-no-wrap text-white">
              検索
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white border rounded shadow m-3 mb-8">
    <div class="border-b p-3">
      <h5 class="font-bold uppercase text-gray-600">カテゴリー別累積</h5>
    </div>
    <div class="md:p-3 lg:p-5">
      <div class="chartjs-size-monitor"
           style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
        <div class="chartjs-size-monitor-expand"
             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
          <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
        </div>
        <div class="chartjs-size-monitor-shrink"
             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
          <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
        </div>
      </div>
      <canvas id="line_graph" class="h-full"></canvas>
    </div>
  </div>
  <script type="application/javascript">
    const expenditureOrIncomeRecords = {{ expenditure_or_income_records }};
    const ctx = document.getElementById("line_graph").getContext('2d');
    color = [
      "#FF2D55",
      "#5856D6",
      "#007AFF",
      "#34AADC",
      "#5AC8FA",
      "#4CD964",
      "#FF3B30",
      "#FF9500",
      "#FFCC00",
      "#8E8E93",
      "#C7C7CC",
      "#D6CEC3",
    ]
    records = []
    $.each({{ categories | safe }}, function (index, value) {
      records.push({
        label: value,
        borderColor: color[index],
        pointBorderWidth: 3,
        lineTension: 0.1,
        fill: false,
        data: expenditureOrIncomeRecords[index],
      });
    });
    if (window.parent.screen.width > 768) {
      ctx.canvas.height = 100;
    }
    const line_graph = new Chart(ctx, {
      type: 'line',
      data: {
        labels: {{ event_date | safe }},
        datasets: records
      },
      options: {
        animation: false,
      }
    });
    {% for message in messages %}
      $.toast({
        icon: '{{ message.tags }}',
        text: '{{ message }}',
        position: 'bottom-right',
        showHideTransition: 'slide',
        hideAfter: 5000,
      });
    {% endfor %}
  </script>
{% endblock %}