<a class="inline-block bg-gray-400 hover:text-white hover:bg-gray-500 text-white font-bold py-2 px-4 my-1 rounded"
   href="{% url 'analyses:top' %}">月別収支割合</a>
<a class="inline-block bg-gray-400 hover:text-white hover:bg-gray-500 text-white font-bold py-2 px-4 my-1 rounded"
   href="{% url 'analyses:transition' %}">収支推移</a>
<a class="inline-block bg-gray-400 hover:text-white hover:bg-gray-500 text-white font-bold py-2 px-4 my-1 rounded"
   href="{% url 'analyses:accumulation' %}">収支累積</a>
<a class="inline-block bg-gray-400 hover:text-white hover:bg-gray-500 text-white font-bold py-2 px-4 my-1 rounded"
   href="{% url 'analyses:analyses_by_category' %}">カテゴリ別収支推移</a>
