{% extends "loggedin_base.html" %}
{% block content %}
  {% load static %}
  <div class="w-full md:px-0 md:mt-8 text-gray-800 leading-normal">
    <div class="m-3 mt-0 p-3 bg-white shadow border-b border-gray-200 sm:rounded-lg">
      <div class="flex flex-wrap -mx-3">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          {% include 'analyses/buttons.html' %}
        </div>
        <div class="w-full md:w-1/2 px-3 md:text-left lg:text-right">
          <form class="flex flex-wrap items-stretch w-full relative" id="event_month"
                action="{% url 'analyses:search_pie_each_month' %}" method="get">
            <input type="month"
                   class="flex-shrink flex-grow flex-auto leading-normal border-gray-200 w-px flex-1 border h-10 rounded rounded-r-none px-3 relative"
                   value="{{ year_and_month }}" name="year_and_month" required>
            <div class="flex">
              <select name="expenditure_or_income"
                      class="bg-gray-200 bg-grey-lighter border-0 border-l-0 whitespace-no-wrap text-grey-dark text-sm appearance-none"
                      required>
                {% if expenditure_or_income == 'income' %}
                  <option value="expenditure">支出</option>
                  <option selected="true" value="income">収入</option>
                {% else %}
                  <option selected="true" value="expenditure">支出</option>
                  <option value="income">収入</option>
                {% endif %}
              </select>
            </div>
            <button type="submit"
                    class="flex items-center bg-green-500 leading-normal bg-grey-lighter rounded rounded-l-none border-0 border-l-0 px-5 whitespace-no-wrap text-white">
              検索
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="flex flex-row flex-wrap flex-grow">
      <div class="w-full">
        <div class="bg-white border rounded shadow mx-3 mb-3">
          <div class="border-b p-3">
            <h5 class="font-bold uppercase text-gray-600">月別収支割合</h5>
          </div>
          <div class="md:p-3 lg:p-5">
            <canvas id="pie_chart" class="md:h-full lg:h-3/6"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col px-3 pb-8">
      <div class="sm:-mx-6 lg:-mx-8">
        <div class="align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  カテゴリー
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  合計金額
                </th>
              </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
              {% for category_name, sum_amount in expenditure_or_income_records.items %}
                <tr>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-900">
                      {{ category_name }}
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <div class="text-sm text-gray-900">
                      {{ sum_amount }}
                    </div>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="application/javascript">
    const data = {
      datasets: [{
        data: {{ expenditure_sum_amount }},
        backgroundColor: [
          "#FF2D55",
          "#5856D6",
          "#007AFF",
          "#34AADC",
          "#5AC8FA",
          "#4CD964",
          "#FF3B30",
          "#FF9500",
          "#FFCC00",
          "#8E8E93",
          "#C7C7CC",
          "#D6CEC3",
        ]
      }],
      labels: {{ expenditure_categories_name | safe }}
    };
    const ctx = document.getElementById("pie_chart").getContext('2d');
    if (window.parent.screen.width > 768) {
      ctx.canvas.height = 100;
    }
    new Chart('pie_chart', {
      type: 'doughnut',
      data: data,
      options: {}
    });
    {% for message in messages %}
      $.toast({
        icon: '{{ message.tags }}',
        text: '{{ message }}',
        position: 'bottom-right',
        showHideTransition: 'slide',
        hideAfter: 5000,
      });
    {% endfor %}
  </script>
{% endblock %}