{% extends "loggedin_base.html" %}
{% block content %}
  <div class="w-full md:px-0 md:mt-8 text-gray-800 leading-normal">
    <div class="flex flex-col px-3">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="pt-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
              <tr>
                <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  カテゴリー/日付
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  金額
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  メモ
                </th>
                <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
              </thead>
              <tbody id="js-table-row" class="bg-white divide-y divide-gray-200">
              {% for record in records %}
                <tr id="record{{ record.id }}">
                  <td class="js-expenditure-or-income-label px-6 py-4 whitespace-nowrap">
                    {% if record.category.label == 'expenditure' %}
                      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-pink-100">
                        支出
                      </span>
                    {% elif record.category.label == 'income' %}
                      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-100">
                        収入
                      </span>
                    {% endif %}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="ml-0">
                        <div class="js-category text-sm font-medium text-gray-900">
                          {{ record.category }}
                        </div>
                        <div class="js-event-date text-sm text-gray-500">
                          {{ record.event_date }}
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="js-amount text-sm text-gray-900">
                      {{ record.amount }}
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <div class="js-memo text-sm text-gray-900">
                      {{ record.memo }}
                    </div>
                  </td>
                  <td class="js-management-button px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                    {% if record.category.label == 'expenditure' %}
                      <a href="{% url 'kakeibo:records_edit_latest_expenditure' pk=record.pk %}"
                         class="bg-green-500 hover:bg-green-700 text-white hover:text-white font-bold py-2 px-4 rounded">編集</a>
                      <button
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded delete-latest-button"
                        data-record-pk="{{ record.pk }}"
                        data-category="expenditure"
                        onclick="toggleModal('delete-modal')">
                        削除
                      </button>
                    {% elif record.category.label in 'income' %}
                      <a href="{% url 'kakeibo:records_edit_latest_income' pk=record.pk %}"
                         class="bg-green-500 hover:bg-green-700 text-white hover:text-white font-bold py-2 px-4 rounded">編集</a>
                      <button
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded delete-latest-button"
                        data-record-pk="{{ record.pk }}"
                        data-category="income"
                        onclick="toggleModal('delete-modal')">
                        削除
                      </button>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if is_paginated %}
    <div class="flex justify-center mt-2 p-3 pb-8">
      <nav class="relative items-center z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
        {% if page_obj.has_previous %}
          <a
            class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-mediumfont-medium rounded-l-md"
            href="?page=1"><<</a>
        {% else %}
          <a
            class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-mediumfont-medium rounded-l-md"><<</a>
        {% endif %}
        {% for page_num in paginator.page_range %}
          {% if not page_obj.has_previous and page_num <= 3 %}
            {% if page_num == page_obj.number %}
              <a aria-current="page"
                 class="z-10 bg-indigo-50 border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium"
                 href="?page={{ page_num }}">{{ page_num }}</a>
            {% else %}
              <a
                class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"
                href="?page={{ page_num }}">{{ page_num }}</a>
            {% endif %}
          {% elif not page_obj.has_next and page_num == paginator.num_pages %}
            <a
              class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"
              href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            <a aria-current="page"
               class="z-10 bg-indigo-50 border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium"
               href="?page={{ page_num }}">{{ page_num }}</a>
          {% elif page_obj.previous_page_number <= page_num and page_num <= page_obj.next_page_number %}
            {% if page_obj.number == page_num %}
              <a aria-current="page"
                 class="z-10 bg-indigo-50 border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium">{{ page_num }}</a>
            {% else %}
              <a
                class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"
                href="?page={{ page_num }}">{{ page_num }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <a
            class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-mediumfont-medium rounded-r-md"
            href="?page={{ paginator.num_pages }}">>></a>
        {% else %}
          <a
            class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-mediumfont-medium rounded-l-md">>></a>
        {% endif %}
      </nav>
    </div>
  {% endif %}
  <div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="delete-modal-backdrop"></div>
  {% include 'records/delete_form.html' %}
  {% include 'kakeibo/bottom_menu.html' %}
  {% load static %}
  <script type="text/javascript">
    {% for message in messages %}
      $.toast({
        icon: '{{ message.tags }}',
        text: '{{ message }}',
        position: 'bottom-right',
        showHideTransition: 'slide',
        hideAfter: 5000,
      });
    {% endfor %}
  </script>
  <script type="text/javascript" src="{% static 'records/js/functions.js' %}"></script>
{% endblock %}