<!doctype html>
<html lang="ja">
{% load static %}
{% load tailwind_tags %}
<head>
  {% include 'gtm.html' %}
  <!-- Ordinary meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="ただの家計簿で終わらせない、家計簿をもっと賢く美しく">
  <meta name="keywords" content="家計簿">
  <meta property="og:title" content="SUMUMA"/>
  <meta property="og:site_name" content="SUMUMA"/>
  <meta property="og:description" content="ただの家計簿で終わらせない、家計簿をもっと賢く美しく"/>
  <meta property="og:url" content="https://sumuma.com"/>
  <meta property="og:type" content="website">
  <meta property="og:image" content="{% static 'home/images/daifuku.png' %}"/>
  <meta property="og:locale" content="ja_JP"/>
  <meta name="theme-color" content="#22c55e">
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#22c55e">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#22c55e">
  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="SUMUMA">
  <meta itemprop="description" content="ただの家計簿で終わらせない、家計簿をもっと賢く美しく">
  <meta itemprop="image" content="{% static 'home/images/daifuku.png' %}">
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://sumuma.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="SUMUMA">
  <meta property="og:description" content="ただの家計簿で終わらせない、家計簿をもっと賢く美しく">
  <meta property="og:image" content="{% static 'home/images/daifuku.png' %}">
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="SUMUMA">
  <meta name="twitter:description" content="ただの家計簿で終わらせない、家計簿をもっと賢く美しく">
  <meta name="twitter:image" content="{% static 'home/images/daifuku.png' %}">
  <!-- iOS Meta Tags -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="SUMUMA">
  <!-- favicon -->
  <link rel="icon" type="image/png" href="{% static 'home/images/favicon.png' %}" alt="">
  <link rel="apple-touch-icon" href="{% static 'home/images/favicon.png' %}" alt="">
  <title>SUMUMA</title>
  {% tailwind_css %}
</head>
<body class="font-inter antialiased bg-white text-gray-900 tracking-tight" data-aos-easing="ease-out-cubic"
      data-aos-duration="700" data-aos-delay="0">
{% include 'gtm_noscript.html' %}
{% block content %}
{% endblock %}
</body>
</html>