{% extends "auth_base.html" %}
{% block content %}
  <div class="md:mx-auto md:w-1/2 md:m-0 w-full m-3">
    <form class="bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4" method="POST">
      <h2 class="mb-6 text-3xl text-green-500 text-center">
        ログイン
      </h2>
      {% csrf_token %}
      <div class="mb-4">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="id_email">
          メールアドレス
        </label>
        {{ form.username }}
        <p class="text-red-500 text-xs italic">{{ form.username.errors }}</p>
      </div>
      <div class="mb-6">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="id_password1">
          パスワード
        </label>
        {{ form.password }}
        <p class="text-red-500 text-xs italic">{{ form.password.errors }}</p>
      </div>
      <div class="flex items-center justify-between">
        <button type="submit"  class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
          ログイン
        </button>
        <a class="inline-block align-baseline font-bold text-sm text-green-500 hover:text-green-800" href="{% url 'account:password_reset' %}">
          パスワードを忘れた方
        </a>
      </div>
      {{ form.non_field_errors }}
      {{ form.recaptcha }}
    </form>
    <p class="text-center text-gray-500 text-xs">
      &copy;2018 SUMUMA
    </p>
  </div>
{% endblock %}
