{% extends "loggedin_base.html" %}
{% block content %}
<div class="w-full px-4 md:px-0 md:mt-8 text-gray-800 leading-normal">
  <form action="" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="flex flex-col m-3">
      <div class="sm:-mx-6 lg:-mx-8 pb-3">
        <div class="align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <table class="min-w-full shadow overflow-hidden sm:rounded-lg">
            <tbody class="bg-white divide-y divide-gray-200">
              <tr>
                <th class="p-3 text-left text-gray-900">
                  現在のパスワード
                </th>
                <td class="p-3 text-sm text-gray-900">
                  {{ form.old_password }}
                </td>
                {{ form.old_password.errors }}
              </tr>
              <tr>
                <th class="p-3 text-left text-gray-900">
                  新しいパスワード
                </th>
                <td class="p-3 text-sm text-gray-900">
                  {{ form.new_password1 }}
                </td>
                {{ form.new_password1.errors }}
              </tr>
              <tr>
                <th class="p-3 text-left text-gray-900">
                  (確認用) 新しいパスワード
                </th>
                <td class="p-3 text-sm text-gray-900">
                  {{ form.new_password2 }}
                </td>
                {{ form.new_password2.errors }}
              </tr>
            </tbody>
            <!-- More people... -->
          </table>
        </div>
      </div>
      <button type="submit" class="w-full bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" type="submit">
        更新
      </button>
    </div>
  </form>
</div>
{% endblock %}