{% extends "loggedin_base.html" %}
{% block content %}
<div class="w-full px-4 md:px-0 md:mt-8 text-gray-800 leading-normal">
  <div class="bg-green-100 border-t border-green-500 rounded-b text-teal-900 px-4 py-3 mb-4" role="alert">
    <div class="flex">
      <div>
        <p class="font-bold">バグや要望したい機能の追加、その他質問がありましたら、お問い合わせください。</p>
        <p class="text-sm">返信の必要がある場合は、ご登録いただいたメールアドレス宛にご対応のメールを送信いたします。</p>
      </div>
    </div>
  </div>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfMEDG3ZWGPx6p2O_uOaE9ZlcqXSV9d57wc2-5kCgxlh_k-oQ/viewform?embedded=true" width="640" height="876" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
</div>
<script type="text/javascript">
{% for message in messages %}
    $.toast({
      icon: '{{ message.tags }}',
      text: '{{ message }}',
      position: 'bottom-right',
      showHideTransition: 'slide',
      hideAfter: 5000,
    });
{% endfor %}
</script>
{% endblock %}